<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="recommendations-container">
    <div class="recommendations-row">
      <div class="recommendation-item">
        <img src="assets/images/si.jpg" alt="Cóctel 1" class="recommendation-image" />
        <h2 class="recommendation-title">Cóctel 1</h2>
        <p class="recommendation-description">Descripción breve del cóctel 1. Aquí puedes agregar más detalles.</p>
        <button class="recommendation-button">Más Información</button>
      </div>

      <div class="recommendation-item">
        <img src="assets/images/si.jpg" alt="Cóctel 2" class="recommendation-image" />
        <h2 class="recommendation-title">Cóctel 2</h2>
        <p class="recommendation-description">Descripción breve del cóctel 2. Aquí puedes agregar más detalles.</p>
        <button class="recommendation-button">Más Información</button>
      </div>

      <div class="recommendation-item">
        <img src="assets/images/si.jpg" alt="Cóctel 3" class="recommendation-image" />
        <h2 class="recommendation-title">Cóctel 3</h2>
        <p class="recommendation-description">Descripción breve del cóctel 3. Aquí puedes agregar más detalles.</p>
        <button class="recommendation-button">Más Información</button>
      </div>

      <div class="recommendation-item">
        <img src="assets/images/si.jpg" alt="Cóctel 4" class="recommendation-image" />
        <h2 class="recommendation-title">Cóctel 4</h2>
        <p class="recommendation-description">Descripción breve del cóctel 4. Aquí puedes agregar más detalles.</p>
        <button class="recommendation-button">Más Información</button>
      </div>
    </div>
  </div>
</ion-content>
