
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí agregamos el contenido del menú -->
  <div class="menu-container">
    <div class="menu-row">
      <div class="menu-item">
        <img src="assets/images/si.jpg" alt="Imagen del menú" class="menu-image" />
        <h2 class="menu-title">Nombre del Elemento</h2>
        <p class="menu-price">$Precio</p>
        <p class="menu-description">Descripción del elemento. Aquí puedes agregar más detalles sobre el producto.</p>
        <div class="button-container">

          <button class="custom-button primary">Botón 1</button>
          <button class="custom-button primary ">Boton 2</button>



        </div>
      </div>

      <div class="menu-item">
        <img src="assets/images/si.jpg" alt="Imagen del menú" class="menu-image" />
        <h2 class="menu-title">Nombre del Elemento 2</h2>
        <p class="menu-price">$Precio 2</p>
        <p class="menu-description">Descripción del elemento 2. Aquí puedes agregar más detalles sobre el producto.</p>
        <div class="button-container">
          <button class="custom-button primary">Botón 1</button>

        </div>
      </div>

      <div class="menu-item">
        <img src="assets/images/si.jpg" alt="Imagen del menú" class="menu-image" />
        <h2 class="menu-title">Nombre del Elemento 3</h2>
        <p class="menu-price">$Precio 3</p>
        <p class="menu-description">Descripción del elemento 3. Aquí puedes agregar más detalles sobre el producto.</p>
        <div class="button-container">
          <button class="custom-button primary">Botón 1</button>
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/images/si.jpg" alt="Imagen del menú" class="menu-image" />
        <h2 class="menu-title">Nombre del Elemento 4</h2>
        <p class="menu-price">$Precio 4</p>
        <p class="menu-description">Descripción del elemento 4. Aquí puedes agregar más detalles sobre el producto.</p>
        <div class="button-container">
          <button class="custom-button primary">Botón 1</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
