ion-content {
  .recommendations-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .recommendations-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      gap: 16px; // Espacio entre los elementos

      .recommendation-item {
        width: calc(25% - 16px); // 4 columnas en pantallas grandes
        text-align: center;
        background-color: #333; // Fondo oscuro
        border-radius: 10px;
        overflow: hidden;
        box-sizing: border-box;

        @media (max-width: 1200px) {
          width: calc(33.33% - 16px); // 3 columnas en pantallas medianas
        }

        @media (max-width: 900px) {
          width: calc(50% - 16px); // 2 columnas en pantallas pequeñas
        }

        @media (max-width: 600px) {
          width: 100%; // 1 columna en pantallas muy pequeñas
        }

        .recommendation-image {
          width: 100%;
          height: auto;
        }

        .recommendation-title, .recommendation-description {
          color: white;
          margin: 8px 0;
        }

        .recommendation-button {
          background-color: #fbc02d; // Amarillo
          color: white;
          border: none;
          border-radius: 20px;
          padding: 10px;
          cursor: pointer;
          margin-top: 8px;
        }
      }
    }
  }
}
