<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrito de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cartItems.length > 0">
    <ion-item *ngFor="let item of cartItems; let i = index">
      <ion-label>
        <img src="assets/images/si.jpg" alt="12">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <ion-note>{{ item.price | currency }}</ion-note>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="removeFromCart(i)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="cartItems.length === 0">
    <ion-label>Tu carrito está vacío</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Total: {{ total | currency }}</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="checkout()">Proceder al Pago</ion-button>
  <ion-button expand="full" color="danger" (click)="clearCart()">Vaciar Carrito</ion-button>
</ion-content>
