<ion-header>
  <ion-toolbar>
    <ion-title>Add Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">

  <ion-card>
    <ion-card-header>
      <ion-card-title align="center">---Categorías---</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let category of categories">
          <ion-label>
            <h2>{{ category.category }}</h2>
          </ion-label>
          <ion-button (click)="editarCategory(category)" fill="outline" color="secondary">Editar</ion-button>
          <ion-button (click)="borrarCategory(category.id)" color="danger">Borrar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botón para agregar nueva categoría -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="nuevaCategory()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal para editar o agregar categorias -->
  <ion-modal [isOpen]="mostrarModal" (didDismiss)="cerrarModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ categorySeleccionado ? 'Editar Categoría' : 'Agregar Nueva Categoría' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-card>
          <ion-card-content>
            <form [formGroup]="categoryForm" (ngSubmit)="guardarCategory()">
              <ion-item class="select-right">
                <ion-label position="floating">Categoría</ion-label>
                <ion-select formControlName="category" [interfaceOptions]="categoryOptions"> <!-- Cambiado a "category" -->
                  <ion-select-option value="cerveza">Cerveza</ion-select-option>
                  <ion-select-option value="botana">Botana</ion-select-option>
                  <ion-select-option value="cocteles">Cocteles</ion-select-option>
                  <ion-select-option value="vinos">Vinos</ion-select-option>
                  <ion-select-option value="bebidas sin alcohol">Bebidas sin alcohol</ion-select-option>
                  <ion-select-option value="botellas">Botellas</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngIf="categoryForm.get('category')?.invalid && (categoryForm.get('category')?.dirty || categoryForm.get('category')?.touched)">
                <small *ngIf="categoryForm.get('category')?.errors?.['required']">La categoría es requerida.</small>
              </div>

              <ion-button type="submit" [disabled]="categoryForm.invalid">Guardar</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
